.cartitmes{
    background: rgb(0, 0, 0);
    color:  white;
    padding: 100px 170px;
  

}

.cartitmes hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: white;
    font-size: 18px;
    font-weight: 600;

}

.cartitems-format{
    font-size: 16px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 62px;
}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
    flex-direction: column;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
    margin: 0px;
    padding-bottom: 60px;

}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;

}

.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p{
    color: #555;
    padding-bottom: 20px;
}

.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
    
}

.cartitems-promobox-input{
    /*
    border: none;
    outline: none; 
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
    color: black;
    */
    width: 330px;
    height: 50px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: white;
    font-family: poppins;
    font-size: 16px;
    background: black;
}

.cartitems-promobox-button{
    /*
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: white;
    color: black;
    cursor: pointer;
    */

    width: 170px;
    height: 58px;
    border-radius: 50px;
    background: white;
    color: black;
    font-size: 16px;
    cursor: pointer;

}

.cartitems-promobox-div{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    width: 500px;
    height: 58px;
    border-radius: 50px;
    border: 2px solid #e3e3e3;
}

.cartitems-remove-button{
    display: none;
    width: 140px;
    height: 25px;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-remove-button:hover{
    background: #f52525;
}


@media(max-width:1280px){

    .cartitems{
        margin:  60px 50px;

    }

    .cartitems-format-main{
        grid-template-columns: 2fr 1.5fr 1.5fr 1fr 1fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }

    .carticon-product-icon{
        height: 50px;
    }

    .cartitems-remove-icon{
        margin: auto;
    }

    .cartitems-down{
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }

    .cartitems-total{
        margin: 0px;
   
        
        
    }

    .cartitems-total button{
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }


    
.cartitems-promobox-input{

    width: 330px;
    height: 50px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: white;
    font-family: poppins;
    font-size: 16px;
    background: black;
}

.cartitems-promobox-button{

    width: 170px;
    height: 50px;
    border-radius: 50px;
    background: white;
    color: black;
    font-size: 16px;
    cursor: pointer;

}

.cartitems-promobox-div{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    width: 450px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #e3e3e3;
}

.cartitems-format-main img{
    scale: 0.8;
}



    

}


@media(max-width:800px){

    .cartitmes{
        background: rgb(0, 0, 0);
        color:  white;
        padding: 100px 80px;
      
    
    }
    

    .cartitems-format-main{
        display: none;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .cartitems-format{
        display: grid;
    }

    .cartitems-promobox-input{

        width: 150px;
        height: 30px;
        margin-left: 30px;
        border: none;
        outline: none;
        color: white;
        font-family: poppins;
        font-size: 14px;
        background: black;
    }
    
    .cartitems-promobox-button{
    
        width: 170px;
        height: 36px;
        border-radius: 40px;
        background: white;
        color: black;
        font-size: 16px;
        cursor: pointer;
    
    }
    
    .cartitems-promobox-div{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: black;
        width: 280px;
        height: 36px;
        border-radius: 50px;
        border: 2px solid #e3e3e3;
    }

    .cartitems-remove-button{
        display: block;
    }

    .cartitems-remove-icon{
        display: none;
    }
    

}


@media(max-width:500px){

    .cartitmes{
        background: rgb(0, 0, 0);
        color:  white;
        padding: 100px 50px;
      
    
    }
    

    .cartitems-format-main{
        display: none;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .cartitems-format{
        display: grid;
        
    }

    .cartitems-promobox-input{

        width: 120px;
        height: 30px;
        margin-left: 30px;
        border: none;
        outline: none;
        color: white;
        font-family: poppins;
        font-size: 14px;
        background: black;
    }
    
    .cartitems-promobox-button{
    
        width: 170px;
        height: 36px;
        border-radius: 40px;
        background: white;
        color: black;
        font-size: 16px;
        cursor: pointer;
    
    }
    
    .cartitems-promobox-div{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: black;
        width: 240px;
        height: 36px;
        border-radius: 50px;
        border: 2px solid #e3e3e3;
    }
    

}