.contact{
    padding-top: 150px;
    padding-bottom: 200px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-left: 120px;
    padding-right: 120px;
    
}

.contact-top{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    


}

.contact-top h1{
    font-size: 36px;
    text-align: center;
}

.contact-top p{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    color: rgb(221, 218, 218);
    text-align: center;

}

.contact-top hr{
    
    height: 2px;
    background: rgb(221, 218, 218);;
    border: 0;
    width: 75%;
}


.contact-bottom{
    display: flex;
    align-items: center;
    gap: 100px;
    padding-top: 100px;
    

}

.contact-bottom-left{

    display: flex;
    flex-direction: column;
    gap: 10px;

}
.contact-bottom-left h1{
    font-size: 28px;

}

.contact-bottom-left p{
    font-size: 16px;
}
.contact-bottom-left span{
    font-size: 16px;
}

.contact-bottom-left-social-icon{
    display: flex;
    gap: 15px;
}

.contact-bottom-left-social-icon img{
    width: 30px;
}

.contact-bottom-left-social-icon img:hover{
    scale: 1.2;
    transition: 0.4s;
    cursor: pointer;
}
.contact-bottom-left-mail:hover{
    color: #ff2626;
    cursor: pointer;
    scale: 1.02;
    transition: 0.3s;
}

.contact-bottom-right{

}


@media(max-width:1280px){

    .contact{
        padding-top: 150px;
        padding-bottom: 200px;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-left: 120px;
        padding-right: 120px;
        
    }
    
    .contact-top{
        display: flex;
        flex-direction: column;
    
        align-items: center;
        justify-content: center;
        
    
    
    }
    
    .contact-top h1{
        font-size: 32px;
        text-align: center;
    }
    
    .contact-top p{
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 15px;
        color: rgb(221, 218, 218);
        text-align: center;
    
    }
    
    .contact-top hr{
        
        height: 2px;
        background: rgb(221, 218, 218);;
        border: 0;
        width: 75%;
    }
    
    
    .contact-bottom{
        display: flex;
        align-items: center;
        gap: 100px;
        padding-top: 100px;
        
    
    }
    
    .contact-bottom-left{
    
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
    .contact-bottom-left h1{
        font-size: 26px;
    
    }
    
    .contact-bottom-left p{
        font-size: 15px;
    }
    .contact-bottom-left span{
        font-size: 15px;
    }
    
    .contact-bottom-left-social-icon{
        display: flex;
        gap: 15px;
    }
    
    .contact-bottom-left-social-icon img{
        width: 30px;
    }
    
    .contact-bottom-left-social-icon img:hover{
        scale: 1.2;
        transition: 0.4s;
        cursor: pointer;
    }
    .contact-bottom-left-mail:hover{
        color: #ff2626;
        cursor: pointer;
    }
    
    .contact-bottom-right{
    
    }
    
}


@media(max-width:1024px){

    .contact{
        padding-top: 150px;
        padding-bottom: 200px;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-left: 120px;
        padding-right: 120px;
        
    }
    
    .contact-top{
        display: flex;
        flex-direction: column;
    
        align-items: center;
        justify-content: center;

        
    
    
    }
    
    .contact-top h1{
        font-size: 28px;
        text-align: center;
    }
    
    .contact-top p{
        padding-top: 25px;
        padding-bottom: 10px;
        font-size: 14px;
        color: rgb(221, 218, 218);
        text-align: center;
    
    }
    
    .contact-top hr{
        
        height: 2px;
        background: rgb(221, 218, 218);;
        border: 0;
        width: 75%;
    }
    
    
    .contact-bottom{
        display: flex;
        align-items: center;
        
        gap: 40px;
        padding-top: 80px;

    
    }
    
    .contact-bottom-left{
    
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
    .contact-bottom-left h1{
        font-size: 20px;
    
    }
    
    .contact-bottom-left p{
        font-size: 13px;
    }
    .contact-bottom-left span{
        font-size: 13px;
    }
    
    .contact-bottom-left-social-icon{
        display: flex;
        gap: 15px;
    }
    
    .contact-bottom-left-social-icon img{
        width: 25px;
    }
    
    .contact-bottom-left-social-icon img:hover{
        scale: 1.2;
        transition: 0.4s;
        cursor: pointer;
    }
    .contact-bottom-left-mail:hover{
        color: #ff2626;
        cursor: pointer;
    }
    
    .contact-bottom-right img{
        scale: 0.8;
    }

}

@media(max-width:800px){

    .contact{
        padding-top: 130px;
        padding-bottom: 80px;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-left: 50px;
        padding-right: 50px;
        
    }
    
    .contact-top{
        display: flex;
        flex-direction: column;
    
        align-items: center;
        justify-content: center;

        
    
    
    }
    
    .contact-top h1{
        font-size: 24px;
        text-align: center;
    }
    
    .contact-top p{
        padding-top: 25px;
        padding-bottom: 10px;
        font-size: 14px;
        color: rgb(221, 218, 218);
        text-align: center;
    
    }
    
    .contact-top hr{
        
        height: 2px;
        background: rgb(221, 218, 218);;
        border: 0;
        width: 75%;
    }
    
    
    .contact-bottom{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        gap: 40px;
        padding-top: 50px;

    
    }
    
    .contact-bottom-left{
    
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: linear-gradient(160deg, #000000, #191717, rgb(0, 0, 0));
        border: 1px solid white;
        border-radius: 15px;
        margin: 20px;
        padding: 20px;
    
    }

    .contact-bottom-left:hover{
        scale: 1.05;
        transition: 0.4s;
        background: linear-gradient(160deg, #000000, #283d31, rgb(0, 0, 0));
    }

    .contact-bottom-left h1{
        font-size: 20px;
    
    }
    
    .contact-bottom-left p{
        font-size: 13px;
    }
    .contact-bottom-left span{
        font-size: 13px;
    }
    
    .contact-bottom-left-social-icon{
        display: flex;
        gap: 15px;
    }
    
    .contact-bottom-left-social-icon img{
        width: 25px;
    }
    
    .contact-bottom-left-social-icon img:hover{
        scale: 1.2;
        transition: 0.4s;
        cursor: pointer;
    }
    .contact-bottom-left-mail:hover{
        color: #5926ff;
        cursor: pointer;
        scale: 1.02;
        transition: 0.3s;
    }
    
    .contact-bottom-right img{
        scale: 0.8;
    }

}