.popular{
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap:20px;
    height: auto;
    background: black;

    /*This only for popular-scale div*/
    
    justify-content: center;
}

.popular-scale{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    height: auto;
    
}

.popular h1{
    font-size: 54px;
    font-weight: 600;
}

.popular-white{
    color: #ffffff;
    display: flex;
    gap: 20px;
}

.popular-red{
    color: #ff2626;
  
}

.popular-item{
    
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    
    
}



/*0.62 scaling ->264px image * 0.62*/

@media(max-width:1280px){



    .popular h1{
        font-size: 43.2px;
       
    }

}

@media(max-width:1024px){



    .popular h1{
        font-size: 33.48px;
        
    }

}

@media(max-width:800px){

    .popular-item{
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .popular h1{
        font-size: 32px;
        
    }

}

@media(max-width:650px){

    .popular-item{
        grid-template-columns: 1fr 1fr;
        
    }

}

@media(max-width:450px){

    .popular-item{
        grid-template-columns: 1fr;
        
    }

    .popular h1{
        font-size: 24px;
        
    }
}



/*   dark css   */

/*

.light .popular{
    background: white;


    
    justify-content: center;
}


.light .popular-white{
    color: black;
}

.light .popular-red{
    color: #0014c8;
  
}

.light.popular-item{
    
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    
    
}
    */